.content-section {
  padding-bottom: 128px;
  background: url("./assets/images/bg.png") no-repeat;
  background-position: top;
  background-size: cover;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .left-side {
    padding-top: 124px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    font-family: "TTFirs-Medium", "Arial", "sans-serif";
    color: #D2D6E3;
    max-width: 44%;
    flex-basis: 44%;
  }

  .right-side {
    max-width: 56%;
    flex-basis: 56%;

    .form-container {
      padding: 124px 78px 100px;
      height: 100%;
      background: #E2E5EF;

      label {
        margin-bottom: 18px;
        display: block;
        font-size: 16px;
        line-height: 1.3;
        color: #181738;
      }

      select, input, textarea {
        &.error {
          border-color: #E53151;
        }
      }

      select {
        margin-bottom: 25px;
        display: block;
        width: 100%;
        font-family: "TTFirs-Medium", "Arial", "sans-serif";
        font-size: 22px;
        line-height: 1.3;
        color: #181738;
        border-bottom: 2px solid #FFFFFF;
        transition: 0.2s;

        .placeholder {
          display: none;
        }
      }

      input {
        display: block;
        width: 100%;
        font-family: "TTFirs-Medium", "Arial", "sans-serif";
        font-size: 22px;
        line-height: 1.3;
        color: #181738;
        border-bottom: 2px solid #FFFFFF;
        transition: 0.2s;

        &:focus {
          border-color: rgba(24, 23, 56, 0.5);
        }

        &::placeholder {
          color: #BBBCC2;
        }

        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }

      textarea {
        padding: 5px;
        display: block;
        width: 100%;
        min-height: 236px;
        border: 2px solid #FFFFFF;
        resize: vertical;
        font-family: "TTFirs-Medium", "Arial", "sans-serif";
        font-size: 22px;
        line-height: 1.3;
        color: #181738;

        &::placeholder {
          color: #BBBCC2;
        }

        &:focus {
          border-color: rgba(24, 23, 56, 0.5);
        }
      }

      .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
      }

      .custom-checkbox + label {
        margin-top: 46px;
        display: inline-flex;
        user-select: none;
        cursor: pointer;
        color: #BBBCC2;
        font-size: 18px;
        line-height: 1.3;
        font-family: "TTFirs-Medium", "Arial", "sans-serif";

        span {
          color: #8C57F2;
        }
      }

      .custom-checkbox + label::before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 2px solid #FFFFFF;
        border-radius: 3px;
        margin-right: 43px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }

      .custom-checkbox:checked + label::before {
        border-color: #E53151;
        background-color: #E53151;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      }
    }

    .btn {
      padding: 44px 80px;
      background: #E53151;
      font-family: "TTFirs-Medium", "Arial", "sans-serif";
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #D2D6E3;
      transition: 0.2s;

      &:hover {
        background: #fc4565;
      }
    }
  }
}

@media (max-width: 1400px) {
  .content-section {
    .container {

    }

    .left-side {
      font-size: 2.5vw;
    }

    .right-side {
      max-width: 56%;
      flex-basis: 56%;

      .form-container {
        padding: 124px 9.75% 100px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .content-section {
    .container {

      flex-direction: column;
    }

    .left-side {
      padding-top: 62px;
      padding-bottom: 62px;
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
    }

    .right-side {

      width: 100%;
      max-width: 100%;
      flex-basis: 100%;

      .form-container {
        padding-top: 62px;
      }
    }
  }
}

@media (max-width: 767px) {
  .content-section {
    .container {
      padding: 0 10px;
      flex-direction: column;
    }

    .left-side {
      font-size: 6.4vw;
    }

    .right-side {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;

      .form-container {
        padding: 62px 20px 100px;

        .custom-checkbox + label {
          margin-top: 24px;
          font-size: 4.5vw;
        }

        .custom-checkbox + label::before {
          width: 16px;
          height: 16px;
          margin-right: 8%;
        }
      }

      .btn {
        padding: 24px 0;
        width: 100%;
        font-size: 16px;
      }
    }
  }
}