.main-page {
  background-image: url("./assets/images/bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  .btn.show-more {
    margin-top: 45px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    font-family: "TTFirs-Medium", "Arial", "sans-serif";
    color: #E53151;
  }

  .title-block {
    margin-bottom: 45px;

    .title {
      font-family: "TTFirs-Regular", "Arial", "sans-serif";
      font-size: 32px;
      line-height: 1.2;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #D2D6E3;
    }

    .subtitle {
      margin-top: 10px;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      color: #D2D6E3;
    }
  }

  .hero-section {
    overflow: hidden;

    img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .container {
      position: relative;

      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: radial-gradient(transparent, #181738);
      }
    }

    .content {
      position: absolute;
      z-index: 3;
      top: 98px;

      h1 {
        font-family: "TTFirs-Regular", "Arial", "sans-serif";
        font-size: 120px;
        line-height: 1;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      .subtitle {
        margin-top: 16px;
        margin-bottom: 50px;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        color: #FFFFFF;
      }

      .btn {
        padding: 40px 92px 40px 63px;
        display: inline-flex;
        align-items: center;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-family: "TTFirs-Medium", "Arial", "sans-serif";
        color: #D2D6E3;
        border: 1px solid #FFFFFF;
        transition: 0.2s;

        &:hover {
          background: #FFFFFF;
          color: #2A294B;
        }

        svg {
          margin-right: 30px;
        }
      }
    }
  }

  .event-section {
    padding: 50px 0;

    .events {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;

      .event {
        border: 1px solid #818CB3;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }

        &-wrapper {
          padding: 20px 44px 40px;
        }

        &-date {
          font-size: 14px;
          line-height: 1.3;
          text-transform: uppercase;
          color: #818CB3;
          margin-bottom: 4px;
        }

        &-title {
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          color: #FFFFFF;
          margin-bottom: 16px;
        }

        &-description {
          font-size: 14px;
          line-height: 1.3;
          color: #818CB3;
          margin-bottom: 16px;
          max-width: 274px;
        }

        &-links {
          display: flex;
          align-items: center;
          justify-content: space-between;

          a {
            padding: 16px 12px;
            border: 1px solid #E53151;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-family: "TTFirs-Medium", "Arial", "sans-serif";
            color: #D2D6E3;
            transition: 0.2s;
            margin-right: 20px;

            &:hover {
              background: #E53151;
            }
          }

          p {
            font-size: 16px;
            line-height: 19px;
            font-family: "TTFirs-Medium", "Arial", "sans-serif";
            color: #D2D6E3;
          }
        }
      }
    }
  }

  .subscribe-section {
    padding: 50px 0;

    form {
      input {
        margin-top: 25px;
        padding: 19px 0 19px 25px;
        display: block;
        width: 100%;
        max-width: 550px;
        background: #2A294B;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.1em;
        color: #504F7E;
        font-family: "Roboto", "Arial", "sans-serif";

        &::placeholder {
          opacity: 0.3;
        }
      }

      .btn {
        margin-top: 20px;
        padding: 20px 30px;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 19px;
        background: #E53151;
        font-family: "Roboto", "Arial", "sans-serif";
        transition: 0.2s;

        &:hover {
          background: lighten(#E53151, 10%);
        }
      }
    }
  }

  .about-section {
    padding: 50px 0 532px;

    .container {
      max-width: 1000px;
      text-align: center;
    }

    h3 {
      font-family: "TTFirs-Regular", "Arial", "sans-serif";
      font-size: 80px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #D2D6E3;
    }

    .new {
      margin-top: 50px;
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 2px solid rgba(226, 229, 239, 0.2);

      svg {
        flex-shrink: 0;
        margin-right: 6%;
      }

      &-content {

      }

      &-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.166666;
        color: #FFFFFF;
      }

      &-description {
        margin-top: 40px;
        font-size: 16px;
        line-height: 1.3;
        color: #FFFFFF;
      }
    }

    .btn {
      display: inline-block;
      margin: 110px auto 0;
    }
  }
}

@media (max-width: 1400px) {
  .main-page {
    .hero-section {
      .content {
        h1 {
          font-size: 8.5vw;
        }

        .subtitle {
          font-size: 2vw;
          line-height: 1.2;
        }
      }
    }

    .event-section {
      .events {
        .event {
          &-links {
            flex-wrap: wrap;

            p {
              padding: 16px 0;

            }
          }
        }
      }
    }

    .subscribe-section {

    }

    .about-section {

    }
  }
}

@media (max-width: 1024px) {
  .main-page {
    .hero-section {
      .content {
        top: 20%;

        .btn {
          padding: 20px 46px 20px 31px;
          font-size: 2vw;

          svg {
            height: 30px;
            width: 30px;
          }
        }
      }
    }

    .event-section {
      .events {
        grid-template-columns: repeat(2, 1fr);

        .event-wrapper {
          padding: 20px 30px 40px;
        }
      }
    }

    .subscribe-section {

    }

    .about-section {
      padding-bottom: 30vw;

      h3 {
        font-size: 8vw;
      }

      .new {
        svg {
          width: 20vw;
          max-width: 200px;
        }

        &-title {
          font-size: 2.4vw;
        }

        &-description {
          font-size: 1.6vw;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-page {
    .title-block {

      .title {
        font-size: 8.2vw;
      }

      .subtitle {
        font-size: 6.15vw;
        line-height: 1.1;
      }
    }

    .hero-section {
      height: calc(100vh - 100px);

      img {
        object-fit: cover;
      }

      .container {
        padding: 0;
      }

      .content {
        top: 0;
        left: 20px;
        right: 20px;
        height: calc(100% - 24px);
        display: flex;
        flex-direction: column;

        h1 {
          margin-top: 10%;
          font-size: 10.5vw;
        }

        .subtitle {
          font-size: 5vw;
        }

        .btn {
          margin-top: auto;
          padding-left: 0;
          padding-right: 0;
          width: 100%;
          font-size: 4.5vw;
          justify-content: center;

          svg {
            height: 30px;
            width: 30px;
          }
        }
      }
    }

    .event-section {
      .events {
        grid-template-columns: 1fr;

        .event-wrapper {
          padding: 20px;
        }

        .event {
          &-links {
            a {
              margin-right: 0;
              width: 100%;
            }

            p {
              margin: 0 auto;
            }
          }
        }
      }

      .btn.show-more {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }

    .subscribe-section {
      form {
        .btn {
          width: 100%;
        }
      }
    }

    .about-section {
      h3 {
        font-size: 8.2vw;
      }

      .new {
        flex-direction: column;

        svg {
          width: 100%;
          max-width: 200px;
        }

        &-title {
          margin-top: 24px;
          font-size: 6.4vw;
        }

        &-description {
          margin-top: 20px;
          font-size: 4.266666vw;
        }
      }
    }
  }
}